@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Manrope:wght@200;300;400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;

}

a{
    all: unset; 
}