.custom-cursor {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    background: url("../assets/cursor.png");
    background-position: center;
    background-size: cover;
    transition: .5s all linear;
    z-index: -1;
}

// body{
//     cursor: none;
// }