.github-button {
    position: absolute;
    bottom: 5%;
    right: 5%;
    animation: GitHubFloatingButton 3s infinite;


    @keyframes GitHubFloatingButton {
        0% {
            transform: translateY(-5px);
        }

        50% {
            transform: translateY(0px);
        }

        100% {
            transform: translateY(-5px);
        }
    }

    button {
        all: unset;
        cursor: pointer;
        width: 30px;


        img {
            width: 40px;
            transition: .3s all ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}