body {
    background: url(../assets/2024_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: -1;
    }

    .home {
        text-align: center;
        width: 90%;
        max-width: 600px;
        margin: 0 auto;

        .wishes {
            margin-bottom: 20px;

            h1 {
                font-family: 'Great Vibes', cursive;
                font-size: 4vw;
                margin-bottom: 20px;
            }
        }

        .wish-someone {
            all: unset;
            cursor: pointer;
            border: 1px solid #ccc;
            padding: 15px;
            border-radius: 8px;
            position: relative;
            overflow: hidden;
            transition: .3s all ease;
            animation: floatingButton 3s infinite;

            @keyframes floatingButton {
                0% {
                    transform: translateY(5px);
                }

                50% {
                    transform: translateY(0px);
                }

                100% {
                    transform: translateY(5px);
                }
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background-color: goldenrod;
                transition: .3s all ease;
                z-index: -1;
            }

            &:hover::after {
                width: 100%;
            }

            &:hover {
                letter-spacing: 0.3vw;
                box-shadow: 0 0 1vw white;
            }
        }
    }

    @media (max-width: 768px) {
        .home {
            width: 90%;
            max-width: none;

            .wishes {

                h1 {
                    font-size: 30px;
                }
            }
        }

        .wish-someone {
            padding: 3vw;
        }
    }
}