.form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    form {
        border: 1px solid goldenrod;
        padding: 40px;
        border-radius: 8px;
        position: relative;
        margin-bottom: 20px;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.1);
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        .input-container {
            label {
                display: block;
            }

            input {
                all: unset;
                border: 1px solid #ccc;
                width: 200px;
                height: 30px;
                padding-inline: 10px;
                border-radius: 8px;
                margin-bottom: 20px;
            }

            select {
                width: 220px;
                margin-bottom: 20px;
                height: 30px;
                background-color: transparent;
                color: white;
                border-radius: 8px;

                option {
                    color: black;
                }
            }
        }

        .generate-link {
            all: unset;
            cursor: pointer;
            width: 220px;
            height: 40px;
            border-radius: 8px;
            text-align: center;
            border: 1px solid goldenrod;
            position: relative;
            overflow: hidden;
            transition: .3s all ease;


            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background-color: goldenrod;
                transition: .3s all ease;
                z-index: -1;

            }

            &:hover::after {
                width: 100%;
            }

            &:hover {
                letter-spacing: 3px;
                box-shadow: 0 0 10px white;
            }
        }
    }

    .results{
        background-color: #ccc;
        padding: 10px;
        border-radius: 8px;
        color: black;
        text-align: center;
        display: flex;
        align-items: center;
        button{
            all: unset;
            cursor: pointer;
            width: 40px;

            svg{
                transition: .3s all ease;
                &:hover{
                    color: #aaa
                }
            }

        }
        a{
            cursor: pointer;
        }
    }
}